{% assign nav_link_class = 'text-body-small mr-7 py-2 uppercase hover:underline' %}

{% if shop.customer_accounts_enabled %}
  <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="{{ nav_link_class }} hide">
    Account
  </a>
{% endif %}

<div class="{{ nav_link_class }} relative flex py-3 group/item mr-7 hide">
  <span> EN (US) </span>

  <ul class="absolute hidden rounded-md group/edit top-2 lg:group-hover/item:flex">
    <li class="p-3">
      <button>
        EN (US)
      </button>
    </li>

    <li class="p-3">
      <button>
        EN (US)
      </button>
    </li>
  </ul>
</div>

<div class="{{ nav_link_class }} hide">
  USD $$$
</div>

<button class="mr-6 hover:text-opacity-85 hidden lg:block">
  {% render 'icon-search' %}
</button>

<a href="#" class="pill pill-white py-1">
  Cart
</a>