{% liquid 
  assign nav_class = 'navigation-white'

  if request.page_type == 'index'
    assign nav_class = 'navigation-transparent fixed'
  endif 
%}

<header
  class="header aeneid-navigation max-h-screen overflow-y-auto {{ request.page_type }} {{ nav_class }}"
  :class="{'navigation-black' : openNavigate , 'navigation-white' : !openNavigate && pageScrolled, 'navigation-transparent' : !openNavigate && !pageScrolled }"
  id="header"
  x-data="{ openNavigate: false, pageScrolled: false }"
  @click.away="openNavigate = false"
  @scroll.window="pageScrolled = (window.pageYOffset > 20) ? true : false"
>
  <div
    class="px-4 m-auto md:px-12"
    :class="{ '' : openNavigate }"
  >
    <nav class="items-center py-3 aeneid-grid">
      <div class="col-span-3 lg:col-span-2">
        <button
          class="flex items-center py-2 font-medium hover:underline"
          @click="openNavigate = !openNavigate"
        >
          <span class="menu-closed" :class="{ 'hidden' : openNavigate }">Menu</span>
          <span class="menu-opened" :class="{ 'hidden' : !openNavigate }">Close Menu</span>
        </button>
      </div>
      <div class="flex justify-center col-span-4 lg:col-span-3 lg:justify-start">
        <a
          href="{{ routes.root_url }}"
          class="block w-[4.5rem] md:w-[6rem] lg:w-[9rem] header-logo"
          :class="{ 'hidden' : openNavigate }"
        >
          {% render 'logo' %}
        </a>
      </div>

      <div class="col-span-3 lg:col-span-5">
        <div class="flex items-center justify-end flex-grow pr-3 header-nav-links">
          {% render 'nav-account' %}
        </div>
      </div>
    </nav>


  <div data-target="header-menu" x-show="openNavigate">
    <div class="py-3 pt-6 aeneid-grid sm:grid-rows-auto">
      <div class="hidden col-span-2 md:block">
        <a href="{{ routes.root_url }}" class="mr-6 w-[4.5rem] md:w-[6rem] lg:w-[9rem] header-logo">
          {% render 'logo' %}
        </a>
      </div>

      <!-- header-category list start -->
      <div class="col-span-10 sm:col-span-5">
        <nav class="flex flex-col mr-6 lg:pl-20">
          <div
            class="block mb-4 group/item lg:mb-0 lg:inline-block"
            @click="handleClick"
          >
            <a href="#" class="flex items-center">
              <div
                class="flex-shrink-0 w-8 h-8 duration-300 border border-white rounded-full group/edit transition-backgroundColor group-hover/item:bg-white"
              ></div>
              <span class="text-white ml-7 text-headingMobile lg:text-heading">
                New Arrivals
              </span>
            </a>
            <ul
              class="flex-col hidden pb-8 mt-6 group/edit ml-14 group-hover/item:flex"
            >
              <li>
                <a href="#" class="text-white text-body-large">
                  FOR THE HOME (30 Items)</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-body-large">
                  BY THE GRACE OF GOD (27 Items)</a
                >
              </li>
            </ul>
          </div>
          <div
            class="block mb-4 group/item lg:mb-0 lg:inline-block"
            @click="handleClick"
          >
            <a href="#" class="flex items-center">
              <div
                class="flex-shrink-0 w-8 h-8 duration-300 border border-white rounded-full group/edit transition-backgroundColor group-hover/item:bg-white"
              ></div>
              <span class="text-white ml-7 text-headingMobile lg:text-heading"> Mens </span>
            </a>
            <ul
              class="flex-col hidden pb-8 mt-6 group/edit ml-14 group-hover/item:flex"
            >
              <li>
                <a href="#" class="text-white text-body-large">
                  FOR THE HOME (30 Items)</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-body-large">
                  BY THE GRACE OF GOD (27 Items)</a
                >
              </li>
            </ul>
          </div>
          <div
            class="block mb-4 group/item lg:mb-0 lg:inline-block"
            @click="handleClick"
          >
            <a href="#" class="flex items-center">
              <div
                class="flex-shrink-0 w-8 h-8 duration-300 border border-white rounded-full group/edit transition-backgroundColor group-hover/item:bg-white"
              ></div>
              <span class="text-white ml-7 text-headingMobile lg:text-heading"> Womens </span>
            </a>
            <ul
              class="flex-col hidden pb-8 mt-6 group/edit ml-14 group-hover/item:flex"
            >
              <li>
                <a href="#" class="text-white text-body-large">
                  FOR THE HOME (30 Items)</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-body-large">
                  BY THE GRACE OF GOD (27 Items)</a
                >
              </li>
            </ul>
          </div>
          <div
            class="block mb-4 group/item lg:mb-0 lg:inline-block"
            @click="handleClick"
          >
            <a href="#" class="flex items-center">
              <div
                class="flex-shrink-0 w-8 h-8 duration-300 border border-white rounded-full group/edit transition-backgroundColor group-hover/item:bg-white"
              ></div>
              <span class="text-white ml-7 text-headingMobile lg:text-heading">
                Accessories
              </span>
            </a>
            <ul
              class="flex-col hidden pb-8 mt-6 group/edit ml-14 group-hover/item:flex"
            >
              <li>
                <a href="#" class="text-white text-body-large">
                  FOR THE HOME (30 Items)</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-body-large">
                  BY THE GRACE OF GOD (27 Items)</a
                >
              </li>
            </ul>
          </div>
          <div
            class="block mb-4 group/item lg:mb-0 lg:inline-block"
            @click="handleClick"
          >
            <a href="#" class="flex items-center">
              <div
                class="flex-shrink-0 w-8 h-8 duration-300 border border-white rounded-full group/edit transition-backgroundColor group-hover/item:bg-white"
              ></div>
              <span class="text-white ml-7 text-headingMobile lg:text-heading"> Home Goods </span>
            </a>
            <ul
              class="flex-col hidden pb-8 mt-6 group/edit ml-14 group-hover/item:flex"
            >
              <li>
                <a href="#" class="text-white text-body-large">
                  FOR THE HOME (30 Items)</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-body-large">
                  BY THE GRACE OF GOD (27 Items)</a
                >
              </li>
            </ul>
          </div>
          <div
            class="block mb-4 group/item lg:mb-0 lg:inline-block"
            @click="handleClick"
          >
            <a href="#" class="flex items-center">
              <div
                class="flex-shrink-0 w-8 h-8 duration-300 border border-white rounded-full group/edit transition-backgroundColor group-hover/item:bg-white"
              ></div>
              <span class="text-white ml-7 text-headingMobile lg:text-heading"> Sale </span>
            </a>
            <ul
              class="flex-col hidden pb-8 mt-6 group/edit ml-14 group-hover/item:flex"
            >
              <li>
                <a href="#" class="text-white text-body-large">
                  FOR THE HOME (30 Items)</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-body-large">
                  BY THE GRACE OF GOD (27 Items)</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- header-category list end -->


      <!-- header-info list start -->
      <div class="flex col-span-10 md:col-span-3">
        {% if linklists.info_menu %}
          <div class="flex flex-col items-start justify-start flex-grow w-1/2 md:pl-16">
            <div class="mb-4 text-white uppercase text-body-small">{{ linklists.info_menu.title }}</div>

            <ul>
              {% for link in linklists.info_menu.links %}
                <li>
                  <a
                    href="{{ link.url }}"
                    class="flex items-center text-white uppercase text-body-large hover:underline"
                  >
                    {{ link.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <div class="flex flex-col items-start justify-start flex-grow w-1/2 md:pl-16 md:hidden">
          <div class="mb-4 text-white uppercase text-body-small">
            YOUR ACCOUNT
          </div>
          {% render 'nav-account' %}
        </div>
      </div>
</div>
<div class="px-4 md:px-12">
    <nav class="flex flex-wrap items-end justify-between flex-grow px-4 py-4 md:items-center md:px-12 ">
      {% render 'nav-footer' %}
    </nav>
</div>
</header>

<!-- 
{{ shop.name }}

{{ routes.search_url }}

{{ routes.cart_url }}

{% if cart.item_count > 0 %}
  {{ cart.item_count }}
{% endif %}
-->

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "link_list",
      "id": "nav_menu",
      "label": "Navigation"
    }
  ]
}
{% endschema %}

