{% liquid 
  assign nav_class = 'navigation-white'
  assign nav_on_scroll = 'navigation-white'


  if request.page_type == 'index'
    assign nav_class = 'navigation-transparent'
    assign nav_on_scroll = 'navigation-white'
  endif 
%}

<header
  class="aeneid-navigation pt-10 top-0 fixed {{ request.page_type }}"
  :class="{ 
    'navigation-black' : openNavigate, 
    'navigation-white' : !openNavigate && pageScrolled, 
    '{{ nav_class }}' : !openNavigate && !pageScrolled,
    'pt-0 {{ nav_on_scroll }}' : pageScrolled
  }"
  id="header"
  x-data="{ openNavigate: false, pageScrolled: false }"
  @click.away="openNavigate = false"
  @scroll.window="pageScrolled = (window.pageYOffset > 20) ? true : false"
>
  <p x-text="scroll"></p>
  <!-- TOP NAV -->
  <nav class="items-center h-16 aeneid-grid">
    <div class="col-span-3 lg:col-span-2">
      <button
        class="flex items-center py-2 font-medium hover:underline"
        @click="openNavigate = !openNavigate"
      >
        <span x-text="openNavigate ? 'Close Menu' : 'Menu'">Menu</span>
      </button>
    </div>
    <div class="flex justify-center col-span-4 lg:col-span-3 lg:justify-start">
      <a
        href="{{ routes.root_url }}"
        class="block header-logo"
        :class="{ 'hidden' : openNavigate }"
      >
        {% render 'icon-logo', class: 'h-5 lg:h-10' %}
      </a>
    </div>

    <div class="col-span-3 lg:col-span-5">
      <div class="flex items-center justify-end flex-grow header-nav-links">
        {% render 'nav-account' %}
      </div>
    </div>
  </nav>

  <!-- MEGA MENU -->
  <div data-target="header-menu" x-show="openNavigate">
    <div class="py-3 pt-6 aeneid-grid ">
      <div class="hidden col-span-2 md:block">
        <a href="{{ routes.root_url }}" class="mr-6 w-[4.5rem] md:w-auto header-logo">
          {% render 'icon-logo' %}
        </a>
      </div>

      <!-- header-category list start -->
      <div class="col-span-10 sm:col-span-5">
        <nav class="flex flex-col mr-6">
          {% for link in section.settings.nav_menu.links %}
            {% render 'nav-collections', link: link %}
          {% endfor %}
        </nav>
      </div>
      <!-- header-category list end -->

      <!-- header-info list start -->
      <div class="flex col-span-10 md:col-span-3">
        {% if section.settings.info_menu %}
          <div class="flex flex-col items-start justify-start flex-grow">
            <div class="mb-8 text-sm font-bold uppercase">{{ section.settings.info_menu.title }}</div>

            <ul>
              {% for link in section.settings.info_menu.links %}
                <li>
                  <a
                    href="{{ link.url }}"
                    class="flex items-center text-white uppercase text-body-large hover:underline"
                  >
                    {{ link.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        
        <div class="flex flex-col items-start justify-start flex-grow w-1/2 md:pl-16 md:hidden">
          <div class="mb-4 text-white uppercase text-body-small">
            YOUR ACCOUNT
          </div>

          {% render 'nav-account' %}
        </div>
      </div>

      <div class="col-span-full">
        <nav class="flex flex-wrap items-end justify-between flex-grow py-4 md:items-center">
          {% render 'nav-footer' %}
        </nav>
      </div>
    </div>
  </div>
</header>

<!-- 
{{ shop.name }}

{{ routes.search_url }}

{{ routes.cart_url }}

{% if cart.item_count > 0 %}
  {{ cart.item_count }}
{% endif %}
-->

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "link_list",
      "id": "nav_menu",
      "label": "Navigation"
    },
    {
      "type": "link_list",
      "id": "info_menu",
      "label": "Info Menu"
    }
  ]
}
{% endschema %}

