<section class="py-24 aeneid-grid">
  <div class="col-span-2">
    <div class="flex items-center">
      <a href="" class="pl-3 pr-1 text-black text-body-small">HOME</a> /<a href="#" class="pl-1 pr-1 text-black text-body-small">{{ collection.title }}</a>
    </div>
  </div>

  <div class="col-span-4">
    <h2 class="flex h1-title align-start">
      {{ collection.title }}
      <span class="ml-4 text-body-large">({{ collection | size }})</span>
    </h2>

    {% if collection.description %}
      <p class="mt-8 mb-4 text-body-large">
      {{ collection.description }}
      </p>
    {% endif %}
  </div>

  <div class="col-span-2">
    <button class="button">
      SHOW FILTERS
    </button>
  </div>
  
  <div class="col-span-2">
    <button class="button">
      SORT BY
    </button>
  </div>
</section>


<div class="container">
  {% paginate collection.products by 50 %}
    {% if collection and collection.products %}
      {% assign amount = collection.all_products_count %}
      {% comment %} {% render 'layout-sort-bar', amount: amount class: 'mb-8' %} {% endcomment %}


      <div class="px-4 m-auto md:px-12">
        <div
          class="gap-2 grid-cols-grid-6 aeneid-product-greed lg:grid-cols-grid-10 md:gap-4 lg:gap-8">
          {% for product in collection.products %}
            {% render 'product-card-10-column' %}
          {% endfor %}
        </div>
      </div>

      {% comment %} <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-8">
        {% for product in collection.products %}
          {% render 'layout-product', product: product %}
        {% endfor %}
      </div> {% endcomment %}
    {% else %}
      <div>
        {{ 'common.no_products' | t }}
      </div>
    {% endif %}

    {% render 'layout-pagination', paginate: paginate %}
  {% endpaginate %}
</div>