{% for block in section.blocks %}
    {% assign content = block.settings.text-block-text %}
   
    {% case block.settings.font_style %}
      {% when 'header' %}
        <div class="misc-header" >
          {{ content }}
        </div>
      {% when 'section-header' %}
        <div id="{{ block.settings.reference-id }}" class="misc-section-header" href="#{{ block.settings.reference-id }}">
          {{ content }}
        </div>
      {% when 'small-header' %}
        <div id="{{ block.settings.reference-id }}" class="misc-small-header">
          {{ content }}
        </div>
      {% when 'body-text' %}
        <div id="{{ block.settings.reference-id }}" class="misc-body-text">
          {{ content }}
        </div>
    {% endcase %}
  {% endfor %}
  
  {% schema %} 
    {
      "name": "Content",
      "blocks": [
        {
          "type": "text",
          "name": "Text Block",
          "settings": [
            {
              "type": "textarea",
              "id": "text-block-text",
              "label": "Text Block"
            },
            {
              "type": "select",
              "id": "font_style",
              "label": "Font Style",
              "options": [
                {
                  "value": "header",
                  "label": "Header"
                },
                {
                  "value": "section-header",
                  "label": "Section Header"
                },
                {
                  "value": "small-header",
                  "label": "Small Header"
                },
                {
                  "value": "body-text",
                  "label": "Body Text"
                }
              ],
              "default": "body-text"
            },
            {
                "type": "text",
                "id": "reference-id",
                "label": "Reference ID for section header",
                "info": "If you would like for a section header to jump to this block, match the reference ID in both. The reference ID is case-sensitive but an arbitrary value that you can decide, like 'Privacy'."
            }
          ]
        }
      ]
    }
    {% endschema %}
  
  <style>
    .misc-header {
        padding: 7rem 1rem;
        display: block;
        font-weight: 500;
        font-size: 32px;
        line-height: 32px;
      }
      .misc-section-directory {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      .misc-section-header {
        padding: 0 1rem 1rem;
        font-size: 16px;
        line-height: 24px;
        padding: 0 1rem 1rem 1rem;
      }
      .misc-small-header{
        font-size: 10px; 
        line-height: 12px;
        font-weight: 700;
        padding: 0 1rem 1rem 1rem
      }
      .misc-body-text{
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        text-indent: 3rem;
        color: blue;
    }
  
  @media screen and (min-width: 769px){
    .misc-header {
      padding: 7rem 1rem;
      display: block;
      font-weight: 500;
      font-size: 32px;
      line-height: 32px;
    }
    .misc-section-directory {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .misc-section-header {
      padding: 0 1rem 1rem;
      font-size: 16px;
      line-height: 24px;
      padding: 0 1rem 1rem 1rem;
    }
    .misc-small-header{
      font-size: 10px; 
      line-height: 12px;
      font-weight: 700;
      padding: 0 1rem 1rem 1rem
    }
    .misc-body-text{
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      text-indent: 3rem;
      color: red;
  }
  </style>