{% assign image = section.settings.image %}

<div class="container mb-12 md:mb-24 bg-gray">
  <div class="w-full md:h-[500px] relative overflow-hidden">
    {% if image %}
      <img
        sizes="
          (min-width: 1280px) 1500px,
          (min-width: 1024px) 1250px,
          (min-width: 768px) 1000px,
          (min-width: 640px) 720px,
          600px
        "
        srcset="
          {{ image | img_url: '600x' }} 600w,
          {{ image | img_url: '720x' }} 720w,
          {{ image | img_url: '1000x' }} 1000w,
          {{ image | img_url: '1250x' }} 1250w,
          {{ image | img_url: '1500x' }} 1500w
        "
        src="{{ image | img_url: '1500x' }}"
        alt="{{ image.alt }}"
        loading="lazy"
        class="object-cover object-center w-full h-full"
      >
    {% else %}
      {{ 'lifestyle-1' | placeholder_svg_tag: 'w-full h-full' }}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "category": "Image"
    }
  ]
}
{% endschema %}