{% assign image = section.settings.image %}

<section 
  class="relative flex h-[780px] overflow-hidden text-white bg-center bg-no-repeat bg-cover lg:h-screen"
  style="background-image: url('{{ image | img_url: '1000x' }}');">

  {% for block in section.blocks %}
    {% if block.type == 'collection' %}
      <div class="flex py-8 px-4 lg:basis-1/2 lg:px-12 lg:py-16 {{ block.settings.alignment }}">
        {% render 'featured-collection-block', block: block, wrapper_class: 'w-5/6 lg:w-full' %}
      </div>
    {% else %}
      <div class="absolute inset-0 flex-1 lg:relative lg:basis-1/2">
        <img
          sizes="
            (min-width: 1536px) 1000px,
            (min-width: 1280px) 850px,
            (min-width: 1024px) 700px,
            (min-width: 768px) 400px,
            (min-width: 640px) 500px,
            600px
          "
          srcset="
            {{ block.settings.image | img_url: '400x' }} 400w,
            {{ block.settings.image | img_url: '500x' }} 500w,
            {{ block.settings.image | img_url: '600x' }} 600w,
            {{ block.settings.image | img_url: '700x' }} 700w,
            {{ block.settings.image | img_url: '850x' }} 850w,
            {{ block.settings.image | img_url: '1000x' }} 1000w
          "
          src="{{ block.settings.image | img_url: '1000x' }}"
          alt="{{ block.settings.image.alt }}"
          loading="lazy"
          class="object-cover object-center w-full h-full mix-blend-lighten"
        >
      </div>
    {% endif %}
  {% endfor %}
</section>

{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:common.image"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image Overlay",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "collection",
      "name": "Featured Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "checkbox",
          "id": "show_count",
          "label": "Show collection size",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Leave empty to use collection name.",
          "default": "New Arrivals"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button Text",
          "default": "Shop Now",
          "info": "Leave empty to hide button"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "items-start",
              "label": "left"
            },
            {
              "value": "items-center",
              "label": "center"
            },
            {
              "value": "items-end",
              "label": "right"
            }
          ],
          "default": "items-center"
        }

      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.banner.name",
      "category": "Image"
    }
  ]
}
{% endschema %}