{{ section.settings.headline}}

{% for block in section.blocks %}
    {% render 'section-image',
        class: ''
        image: block.settings.image
      %}

    {{ block.settings.headline | default:block.settings.collection.title }}
    {{ block.settings.subtext }}
    
    <a href="{{ block.settings.collection.url }}">{{ block.settings.label | default: 'Shop Now' }}</a>
{% endfor %}


{% schema %}
  {
    "name": "Collection Slider",
    "settings": [
      {
        "type": "text",
        "id": "headline",
        "label": "t:common.text",
        "default": "Featured Collections"
      }
    ],
    "blocks": [
        {
          "type": "image",
          "name": "Collection",
          "limit": 10,
          "settings": [
              {
                "type": "collection",
                "id": "collection",
                "label": "Collection"
            },
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
                "type": "text",
                "id": "headline",
                "label": "t:common.text"
            },
            {
                "type": "text",
                "id": "subtext",
                "label": "Subtext"
            },
            {
                "type": "text",
                "id": "label",
                "label": "Button Label"
            }
          ]
        }
    ],
    "presets": [
      {
        "name": "Collection Slider",
        "category": "Collection"
      }
    ]
  }
  {% endschema %}