{% assign image = section.settings.image %}

<section
  class="flex items-center bg-center bg-no-repeat bg-cover hero min-h-[780px] bg-hero-pattern"
  style="background-image: url('{{ image | img_url: '1500x' }}');"
>
  <div class="text-white aeneid-grid">
    <div class="col-span-4 col-start-3">
      {% for block in section.blocks %}
        
        <!-- Block -->
        <div class="flex flex-col {{ block.settings.alignment }}">
          <h1 class="flex h1-title align-start">
            {{ block.settings.collection.title | default: block.settings.title }}
            
            {% if block.settings.show_count %}
              <span class="ml-4 text-body-large">(245)</span>
            {% endif %}
          </h1>

          {% if block.settings.description %}
            <p class="mt-8 mb-4 text-body-large">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos.
            </p>
          {% endif %}

          {% if block.settings.button != '' %}
            <a
              href="{{ block.settings.collection.url }}"
              class="inline-flex items-center px-8 py-5 duration-200 border border-currentColor text-body-large hover:bg-white hover:text-black"
            >
              {{ block.settings.button }}
              {% render 'icon-button-arrow', class: 'ml-6' %}
            </a> 
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
    

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Featured Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "checkbox",
          "id": "show_count",
          "label": "Show collection size",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Leave empty to use collection name.",
          "default": "New Arrivals"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button Text",
          "default": "Shop Now",
          "info": "Leave empty to hide button"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "items-start",
              "label": "left"
            },
            {
              "value": "items-center",
              "label": "center"
            },
            {
              "value": "items-end",
              "label": "right"
            }
          ],
          "default": "items-center"
        }

      ]
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "category": "Image"
    }
  ]
}
{% endschema %}